@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/*header*/
header {
    width: 60%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: "noto sans";
}

/*instructions*/
.instructions {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions p {
    font-family: "roboto";
}

/*vatCalculator*/
.vatCalculator {
    width: 45%;
    height: 140px;
    background-color: rgb(235, 235, 235);
}

.vatCalcContainer {
    width: 100%;
    height: 100%;
}

.vatCalcTop {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.vatCalcTop h2 {
    font-family: "noto sans";
}

.vatCalcTop input {
    width: 370px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}

.vatCalcBottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.vatCalcBottom {
    font-family: "roboto";
}

#rate {
    width: 50px;
    height: 25px;
    padding-left: 5px;
}

#calculate {
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-weight: 500;
}

.vatResult {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.vatResult p {
    font-size: 20px;
    font-family: "roboto";
}

/*explain*/
.explain {
    width: 60%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.explain h2 {
    font-family: "noto sans";
}

.explain p {
    font-family: "roboto";
}

/* Responsive Design */
@media (max-width: 480px) {
    body {
        gap: 30px;
    }

    header {
        width: 60%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .vatCalculator, .vatResult, .instructions, .explain {
        width: 70%;
    }

    .vatCalculator {
        height: 100px;
    }

    .vatCalcTop h2 {
        font-size: 16px;
    }

    .vatCalcTop input {
        width: 200px;
        height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }

    .vatCalcBottom {
        font-size: 13px;
    }

    #rate {
        width: 30px;
        height: 20px;
        padding-left: 5px;
    }

    #calculate {
        width: 70px;
        height: 25px;
        font-size: 13px;
        font-weight: 500;
    }

    .explain h2 {
        font-size: 16px;
    }

    .explain p {
        font-size: 14px;
    }

}
